<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    />
    <title>Sinh viên</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center align-items-center g-2">
        <div class="table-responsive">
          <table
            class="table table-striped table-hover table- align-middle"
          >
            <thead class="table-light ">
              <caption>
                Danh sách sinh viên
              </caption>
              <tr class="table-primary">
                <th>ID</th>
                <th>Name</th>
                <th>Mark</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <% listStudent.forEach((obj) => { %>
              <tr >
                <td><%= obj.id %></td>
                <td><%= obj.name %></td>
                <td><%= obj.mark %></td>
              </tr>
              <% }); %>
            </tbody>
            <tfoot></tfoot>
          </table>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
